.bg-silver{
    background-color: silver;
}
.fg-red{
    color: red;
}
.fg-black {
    color: black;
}


/* .aueb-header {
    color: black;
    background-color: silver;
} */

/* .webdev-header {
    color: red;
    background-color: silver;
}
.webdev-text {
    color: black;
    background-color: silver;
} */