@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

body{
    background-image: url(../img/digital-humanities.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.webdev-img {
    width: 550px;
    height: auto;
}

.menu, li {
    display: inline-block;
}

.menu > li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.menu a:hover {
    color: red;
}

.header {
    font-family: 'Roboto Slab', serif;
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    color: #762124; 
}

.text {
    font-family:'Quicksand', sans-serif ;
    font-weight: 500;
    font-size: 1.1rem;
    color: black;
}

.teachers{
    font-family:'Quicksand', sans-serif ;
    font-weight: 500;
    font-size: 1.1rem;
}

table, th, td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
    width: 500px;
    
}

th{
    color:#762124 ;
}

.apply > a:hover {
    color: red;
}
.apply > a:active{
    color: green;
}


.fa-facebook-square, .fa-twitter-square {
    color: rgba(11, 11, 221, 0.719);
    font-size: 30px;
}