@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    margin: 0 auto;
    /* overflow: hidden; */
    background-color:  #762124;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

.logo {
    width: 45%;
    float: left;
}

.logo > img {
    width: 100%;
    height: auto;
}

.menu {
    width: 55%;
    position: relative;
}

.menu > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.menu li {
    list-style: none;
    display: inline-block;
    line-height: 40px;
}

.menu a {
    text-decoration: none;
    color: cornsilk;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu > ul ul {
    display: none;
}

.menu > ul > li:hover > ul  {
    display: block;
    background-color: #762124;
    width: 100px;
    position: absolute;
    top: 40px;
}

.toggle_button {
    width: 55%;
    display: none;
    justify-content: flex-end;
    margin-right: 10px;
}

.toggle_button > button {
    width: 60px;
    height: 60px;

}

.toggle_menu {
    display: none;
    padding-top: 120px;
    text-align: center;
    line-height: 30px;
}

.toggle_menu li > a {
    text-decoration: none;
}

.toggle_menu ul > li > a{
    font-size: 26px;
    color: black;
}

.toggle_menu ul > li {
    padding-top: 20px;
}

.slider {
    width: 100%;
    height: 100%;
    background-image: url('../img/art1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.title {
    width: 70%;
    margin:0 auto;
    padding-top: 250px;
    padding-bottom: 60px;
}

.title > p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    color: rgb(243, 237, 237);
}

.subtitle {
    width: 60%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.subtitle > p {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    color:rgb(243, 237, 237);
}

.main {
    width: 100%;
    margin: 0 auto;
    padding: 40px 25px;
}

.main-title {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 25px;
}

.main-title > h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-text {
    width: 100%;
    margin: 0 auto;
}

.main-text > p {
    font-family: 'Quicksand', sans-serif;
    line-height: 25px;
}

.footer {
    width: 100%;
    margin: 0 auto;
    padding: 30px 20px;
    overflow: hidden;
    background-color: #762124;
    display: flex;
    align-items: center;
}

.copyright {
    width: 85%;
    float: left;
}

.copyright > p {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8rem;
    color: cornsilk;
}

.social {
    width: 15%;
    float: right;
    display: flex;
    align-items: center;
}

.social > p {
    margin-right: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.8rem;
    color: cornsilk;
}

.fab {
    font-size: 30px;
    color: black;
    margin-right: 5px;
}



@media (max-width: 992px) {
    .toggle_button {
        display: flex;
    }

    .menu {
        display: none;
    }
}

@media (max-width: 768px) {
    .logo > img {
        width: auto;
        height: 75px;
    }

    .title > p {
        font-size: 30px;
    }

    .subtitle > p {
        font-size: 22px;
    }

    .social {
        flex-direction: column;
        align-items: flex-end;
    }
    
    .social_icons {
        display: flex;
    }

    .social > p {
        margin-right: 5px;
    }
}

@media (max-width: 576px) {
    .logo > img {
        width: auto;
        height: 60px;
    }

    .title {
        width: 70%;
        margin:0 auto;
        padding-top: 100px;
        padding-bottom: 30px;
    }

    .title > p {
        font-size: 24px;
    }

    .subtitle {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 10px;
    }

    .subtitle > p {
        font-size: 18px;
    }

    .toggle_button > button {
        width: 40px;
        height: 40px;
    }

    .main-title > h1 {
        font-size: 24px;
    }

    .main-text > p {
        font-size: 14px;
    }

    .social {
        flex-direction: column;
        align-items: flex-end;
    }

    .social > p {
        font-size: 0.7rem;
    }
    
    .social_icons {
        display: flex;
    }

    .social > p {
        margin-right: 5px;
    }

    .copyright > p {
        font-size: 0.7rem;
    }
}